#MarketplaceSearch_Container{
	width: 100vw;
	height: 70vh;
	display: flex;
	justify-content: space-around;
}

#InfluencerFilter_Container{
	width: 30vw;
	height: 70vh;
	border: solid;	
	border-color: #671FAE;
}

#InfluencerListing_Container{
	width: 50vw;
	height: 70vh;
	background: url("./Background.svg") white; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	border: solid;
	border-color: #671FAE;
	overflow-x: hidden;
}

.User_Container {
	position: relative;
	margin-top: 2vh;
	width: 50vw;
	height: 12.5vh;
	border-top: solid;
	border-bottom: solid;
	border-color: #671FAE;
	background: white;
}