#InfluencerFilter_Container{
	width: 30vw;
	height: 55vh;
	border: solid;	
	border-width: 3px;
	border-radius: 3px;
	border-color: #6C00F6;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

#Seguidores_Container {
	width: 30vw;
	height: 17.5vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}


#Interest_Container {
	width: 30vw;
	height: 28vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#Interest_Title {
	height: 4.8vh;
	width: 27vw;
	display: flex;
	align-items: center;
	font-weight: 500;
}

#Costo_Container {
	width: 30vw;
	height: 17.5vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Seguidores_Costo_Title{
	height: 5.8vh;
	width: 27vw;
	display: flex;
	align-items: center;
	font-weight: 500;
}

.Section_Containers {
	height: 5.8vh;
	width: 27vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.Section_Content_Containers {
	height: 4.6vh;
	width: 6.7vw;
	border: solid;
	border-color: #6C00F6;
	display: flex; 
	align-items: center;
	justify-content: center;
}

.Section_Content_Containers:hover {
	cursor: pointer;
}

#InfluencerListing_Container{
	position: relative;
	width: 50vw;
	height: 55vh;
	background: url("./Background.svg") white; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	border: solid;
	border-width: 3px;
	border-radius: 3px;
	border-color: #6C00F6;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#Listing_Header {
	margin-top: 2vh;
	width: 29.4vw;
	height: 6vh;
	background: white;
	border: solid;
	border-color: #6C00F6;
	border-radius: 3px;
	display: flex;
	justify-content: space-evenly;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.Listing_Title_Header {
	height: 6vh;
	width: 8.3vw;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
}

.User_Container {
	position: relative;
	margin-top: 2vh;
	width: 46vw;
	height: 12.5vh;
	border: solid;
	border-color: #6C00F6;
	border-radius: 3px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	background: white;
	display: flex;
	justify-content: space-evenly;
}

.User_Child {
	height: 12.5vh;
	width: 8.3vw;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
}

.Profile_Pic {
	height: 3.8rem;
	width: 3.8rem;
	border: solid;
	border-color: #6C00F6;
	border-radius: 50%;
	border-width: 3px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.User_Child button {
	font-weight: 600;
	background-color: #6C00F6;
	color: white;
	padding: 0.6rem 0.8rem;
	border-radius: 2px;
	border: none;
}

.User_Contact button:hover{
	cursor: pointer;
}

#MarketPlaceSearch_Error_Container {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 50vw;
	height: 55vh;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-weight: 600;
}

