#MarketplaceSearch_Container{
	width: 100vw;
	height: 70vh;
	display: flex;
	justify-content: space-around;
}

#InfluencerFilter_Container{
	width: 30vw;
	height: 70vh;
	border: solid;	
	border-color: #671FAE;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

#Seguidores_Container {
	width: 30vw;
	height: 17.5vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}


#Interest_Container {
	width: 30vw;
	height: 28vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#Interest_Title {
	height: 4.8vh;
	width: 27vw;
	display: flex;
	align-items: center;
	font-weight: 500;
}

#Costo_Container {
	width: 30vw;
	height: 17.5vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Seguidores_Costo_Title{
	height: 5.8vh;
	width: 27vw;
	display: flex;
	align-items: center;
	font-weight: 500;
}

.Section_Containers {
	height: 5.8vh;
	width: 27vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.Section_Content_Containers {
	height: 4.6vh;
	width: 6.7vw;
	border: solid;
	border-color: #671FAE;
}

#InfluencerListing_Container{
	width: 50vw;
	height: 70vh;
	background: url("./Background.svg") white; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	border: solid;
	border-color: #671FAE;
	overflow-x: hidden;
}

.User_Container {
	position: relative;
	margin-top: 2vh;
	width: 49vw;
	height: 12.5vh;
	border-top: solid;
	border-bottom: solid;
	border-color: #671FAE;
	background: white;
	display: flex;
	justify-content: space-evenly;
}

.User_Child {
	height: 12.5vh;
	width: 8.3vw;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
}

.Profile_Pic {
	height: 3.8rem;
	width: 3.8rem;
	border: solid;
	border-color: #671FAE;
	border-radius: 50%;
}

.User_Child button {
	font-weight: 600;
	background-color: #671FAE;
	color: white;
	padding: 0.6rem 0.8rem;
	border-radius: 2px;
	border: none;
}

