#Message_Information_Container{
	width: 30vw;
	height: 55vh;
	border: solid;	
	border-width: 3px;
	border-radius: 3px;
	border-color: #6C00F6;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	overflow-x: hidden;
}

.Message_Information_Wrapper {
	position: relative;
	margin-top: 2vh;
	width: 25vw;
	height: 10vh;
	margin-left: auto;
	margin-right: auto;
	border: solid;	
	border-width: 3px;
	border-radius: 3px;
	border-color: #6C00F6;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.Message_Information_Wrapper:hover {
	cursor: pointer;
	background: #6C00F6;
	color: white;
}


.Convo_Child{
	height: 10vh;
	width: 8vw;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
}

.Convo_Pic{
	height: 3rem;
	width: 3rem;
	border: solid;
	border-color: #6C00F6;
	border-radius: 50%;
	border-width: 3px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.Convo_Child_Text{
	width: 8.1vw;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: 500;
}

#Message_Content_Container{
	position: relative;
	width: 50vw;
	height: 55vh;
	background: url("./Background.svg") white; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	border: solid;
	border-width: 3px;
	border-radius: 3px;
	border-color: #6C00F6;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

#Message_Outer_Wrapper {
	overflow: auto;
}

#Message_No_Selection {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 50vw;
	height: 55vh;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-weight: 600;
}

.MessageWrapper {
	margin-bottom: 5vh;
	width: 45vw;
	min-height: 10vh;
	margin-left: auto;
	margin-right: auto;
	min-height: 10vh;
	display: flex;
}

.MessageWrapper_Receiver {
	justify-content: flex-end;
}

.Message_Wrapper_Container{
	width: 27vw;
	min-height: 10vh;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.Message_Wrapper_Content {
	width: 20vw;
	min-height: 10vh;
	padding: 0px 0.3rem;
	background:white;
	border: solid;
	border-width: 3px;
	border-radius: 3px;
	border-color: #6C00F6;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.Message_Time_Wrapper {
	height: 5vh;
	padding: 0px 0.4rem;
	background:white;
	border: solid;
	border-width: 3px;
	border-radius: 3px;
	border-color: #6C00F6;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.7rem;
}

#Message_Function_Container {
	position: relative;
	width: 40vw;
	height: 7vh;
	left: 5vw;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 2vh;
}

#Message_Chat_Wrapper {
	width: 30vw;
	height: 7vh;
	background: white;
	border: solid;
	border-width: 3px;
	border-radius: 3px;
	border-color: #6C00F6;
	display: flex;
}

#Chat_Input {
	width: 25vw;
	height: 7vh;
	outline: none;
    border: none;
    background-color: transparent;
}

#Chat_Send {
	width: 5vw;
	height: 7vh;
	background: url("./Chat_Send.svg") white; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1.3rem;
}

#Chat_Send:hover {
	cursor: pointer;
}

#Message_Order_Container {
	width: 5vw;
	height: 7vh;
	background: white;
	border: solid;
	border-width: 3px;
	border-radius: 3px;
	border-color: #6C00F6;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight:500;
	font-size: 0.9rem;
}

#Message_Order_Container:hover {
	cursor: pointer;
}