#Nav_Container {
	position: relative;
	width: 100vw;
	height: 10vh;
	display: flex;
}

#logo {
	width: 30vw;
	height:10vh;
}

#nav_wrapper {
	position: absolute;
	right: 10vw;
	width: 25vw;
	height: 10vh;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

#nav_wrapper button {
	background-color: #671FAE;
	color: white;
	padding: 4px 16px;
	border-radius: 4px;
}

#nav_wrapper button:hover{
	cursor: pointer;
}