#Register_Overlay {
	position: fixed;
	top:0;
	left:0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.8);
}

#Register_Container {
	position: fixed;
	top: 27.5vh;
	left:35vw;
	width: 30vw;
	height: 45vh;
	background-color: white;
	background: url("./Secondary_Background.svg") white; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	border: solid;
	border-color: #6C00F6;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.exit {
	position: absolute;
	top: 2vh;
	right: 2vw;
	width: 2vw;
	height: 3vh;
	display: block;
	background: url("./exit.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.exit:hover {
	cursor: pointer;
}

#Register__Title_Container {
	width: 30vw;
	height: 10vh;
	font-size: 1.1rem;
	font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: center;
}

#Portal_Title_Wrapper {
	width: 8vw;
	height: 4vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: white;
	border: solid;
	border-color: #6C00F6;
}


#Register_Info_Container {
	width: 30vw;
	height: 25vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

#Register_Info_Container input {
	width: 16vw;
	height: 3vh;
	border-color: #6C00F6;
}

#Register_Links_Container {
	width: 17vw;
	height: 5vh;
}

#Register_Links_Container span {
	font-size: 0.7rem;
	color: blue;
}

#Register_Links_Container span:hover {
	cursor: pointer;
}

#Register__Button_Container {
	width: 30vw;
	height: 10vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

#Register__Button_Container button {
	background-color: #6C00F6;
	font-weight: 500;
	color: white;
	padding: 4px 16px;
	border-radius: 4px;
}

#Register__Button_Container button:hover {
	cursor: pointer;
}

